
.tsadik-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:dimgrey;
    opacity: 1;
    z-index: 1;
 }

  .selected {
    background-color: skyblue !important;
    color: dodgerblue;
  }
